= simple_form_for [blog_post, comment] do |f|
  = f.input :author, placeholder: 'author name', label: false
  %div.author-message{style: "display:none;"}
  = f.input :email, placeholder: 'user@domain.com', label: false
  %div.email-message{style: "display:none;"}
  = f.input :body, placeholder: 'Comment', label: false
  %div.body-message{style: "display:none;"}
  = f.button :submit, role: "submit-comment"