= simple_form_for [blog_post, comment] do |f|
  = f.input :author, placeholder: 'author name', label: false
  %div.author-message.warning-box{style: "display:none;", role: "comment-author"}
    Please enter your name!
  = f.input :email, placeholder: 'user@domain.com', label: false
  %div.email-message.warning-box{style: "display:none;", role: "comment-email"}
    Please enter a valid email format
  = f.input :body, placeholder: 'Comment', label: false
  %div.body-message.warning-box{style: "display:none;", role: "comment-body"}
    Please enter a message!
  = f.button :submit, role: "submit-comment"