%div.row{style: 'min-height:65%;'}
  %div.large-12.columns.panel.blog-banner.hide-for-small
    - if @tag
      = "Tagged with #{@tag.name}"
    - else
      Welcome to the scary place that is my thoughts...

%div.row
  %div.large-3.columns.panel
    %h5{style: 'color:black'}= link_to "Topics", "#"
    %div.tagging-container
      - @categories.each_with_index do |category, index|
        %section.tag-category{ role: "expandable" }
          %h5.title= link_to "#{category.name} (#{category.tags.count})", "#"
          %div{ role: "tag-well", style: "display:none", data: { category_number: index + 1 } }
            = render partial: "blog_posts/tag_well", locals: { category: category }

  %div.large-9.columns
    %div.row.search-results
      - if @posts.blank?
        %p
          Sorry, but we couldn't find anything interesting from your search
      - else
        - @posts.each do |post|
          %div.large-1.columns.small-3.hide-for-small
            = image_link(post.photo(:thumb))
          %div.large-11.columns
            %p
              %strong
                = link_to post.title, blog_post_path(post.id)
            %p= post.summary
            %h6= "#{post.comments.count} Comments | #{post.number_of_views} Views"
          %hr
    = paginate @posts
