= content_for(:title, "Blog Posts")

%div.row
  %div.large-12.columns.panel.blog-banner.hide-for-small
    - if @tag
      = "Tagged with #{@tag.name}"
    - else
      Welcome to the scary place that is my thoughts...

%div.row{style: 'min-height:65%;'}
  = render partial: 'shared/tag_cloud', locals: {categories: @categories}
  = render partial: 'shared/blog_posts', locals: {posts: @posts}
