%div.row
  %div.large-12.columns.panel
    - if @tag
      %h1= "Tagged with #{@tag.name}"
    - else
      %h1 Welcome to the scary place that is my thoughts...

%div.row
  %div.large-3.columns.panel
    %h5= link_to "Topics", "#"
    %div.section-container.vertical-nav{  data: {data:"section", options: "deep_linking: false; one_up: true"} }
      - @categories.each_with_index do |category, index|
        %section.section{ role: "expandable" }
          %h5.title= link_to category.name, "#"
          %section{ role: "tag-well", style: "display:none", data: { category_number: index + 1 } }
            = render partial: "blog_posts/tag_well", locals: { category: category }

  %div.large-9.columns
    %div.row
      - @posts.each do |post|
        %div.large-1.columns.small-3
          %img{src: "http://placehold.it/80x80&text=[img]"}
        %div.large-11.columns
          %p
            %strong
              = link_to post.title, blog_post_path(post.id)
          %p= post.summary
          %h6= "#{post.comments.count} Comments | #{post.number_of_views} Views"
        %hr
    = paginate @posts
