%div.row{role: "alerts-container"}
  = render partial: 'shared/flash_alerts'

%div.row
  %div.large-12.columns
    %div.panel
      %h1= @post.title

%div.row
  %div.large-1.columns.small-3
    = image_link(@post.photo(:thumb))
  %div.large-11.columns
    = render partial: "shared/markdown_container", locals: { text: @post.body }

    %hr

    %div.comment-container
      %ul.inline-list
        %li= link_to "Comment", "#", role: "comment"

      %div.comment-form{style: "display:none", role: "comment-container"}
        = render partial: "comments/new", locals: { comment: Comment.new , blog_post: @post }

    %h6= "#{@post.comments.count} Comments"
    %hr
    - @comments.each do |comment|
      %div.row.posted-comment
        %div.large-3.columns.small-3
          %p= "Author: #{comment.author || 'anonymous'}"
          %p= "Posted At: #{comment.created_at.strftime('%m/%d/%y')}"
        %div.large-9.columns
          %p= comment.body
      %hr
    = paginate @comments