- binding.pry
- if flash[:success]
  %div.row.large-12.columns.success-box
    = flash[:success]
- elsif flash[:warning]
  %div.row.large-12.columns.warning-box
    = flash[:warning]
- elsif flash[:failure]
  %div.row.large-12.columns.failure-box
    %ul
      Some errors made the comment not save:
      - flash[:failure].each do |attribute, message|
        %li= "#{attribute} #{message}"

%div.row
  %div.large-12.columns
    %div.panel
      %h1= @post.title

%div.row
  %div.large-1.columns.small-3
    = image_link(@post.photo(:thumb))
  %div.large-11.columns
    = render partial: "shared/markdown_container", locals: { text: @post.body }

    %div.comment-container
      %ul.inline-list
        %li= link_to "Comment", "#", role: "comment"
        %li= link_to "Share", "#"

      %div.comment-form{style: "display:none", role: "comment-container"}
        = render partial: "comments/new", locals: { comment: Comment.new , blog_post: @post }

    %h6= "#{@post.comments.count} Comments"
    %div.row
      %div.large-1.columns.small-3
        %img{src: "http://placehold.it/50x50&text=[img]"}
      %div.large-11.columns
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck}duis velit. Aute in reprehenderit

    %hr

    %div.row
      %div.large-1.columns.small-3
        %img{src: "http://placehold.it/50x50&text=[img]"}
      %div.large-11.columns
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck}duis velit. Aute in reprehenderit
    %hr