%div.large-9.columns
  %div.row.search-results
    - if posts.blank?
      %p
        Sorry, but we couldn't find anything interesting
    - else
      - posts.each do |post|
        %div.large-1.columns.small-3.hide-for-small
          = image_link(post.photo(:thumb))
        %div.large-11.columns
          %p
            %strong
              = link_to highlight(post, :title), "#{blog_post_path(post)}"
            %br
            ="Published: #{post.published_at.strftime('%m/%d/%Y')}"
          %p= highlight(post, :summary)
          - if post.respond_to?(:hi_body)
            %p= highlight(post, :body)
          - if post.respond_to?(:hi_tag_list)
            %p= highlight(post, :tag_list)
        %hr
  = paginate posts
