- if flash[:success]
  %div.large-12.columns.success-box
    = flash[:success]
- elsif flash[:warning]
  %div.large-12.columns.warning-box
    = flash[:warning]
- elsif flash[:failure]
  %div.large-12.columns.failure-box
    %ul
      Some errors made the comment not save:
      - flash[:failure].each do |attribute, message|
        %li= "#{attribute} #{message}"