.email-container
  .title-bar
    %h3
      Contact Me
    = link_to "Close", "#", role: "close-email"
  = simple_form_for @email, url: send_email_path(@email), html: { role: "send-email" do |f|
    = f.input :to, input_html: { value: 'dainovu3@gmail.com'}
    = f.input :from
    = f.input :subject, input_html: { value: "Hi Dain..." }
    = f.input :body, as: :text, input_html: { rows: 7, value: "[Insert Your Message]" }
    = f.button :submit, "Send"