%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}
  %footer.footer
    .row
      .small-12.medium-6.large-6.columns.left
        %p.logo.hide-for-small-only
          LET'S STAY IN TOUCH
        .row
          %ul.social
            %a{:href => "https://www.facebook.com/dainhall?fref=ts"}
              %i.fi-social-facebook
            %a{:href => "https://twitter.com/donelikedainer?lang=en"}
              %i.fi-social-twitter
            %a{:href => "https://www.linkedin.com/profile/view?id=106601609&trk=nav_responsive_tab_profile_pic"}
              %i.fi-social-linkedin
            %a{:href => "https://github.com/daino3"}
              %i.fi-social-github

      .small-12.medium-6.large-6.columns.right
        %p.logo.show-for-small-only
          EMAIL ME
        %div{role: 'email-message-container'}
        = simple_form_for(:email, url: send_email_path, method: 'post', html: {class: 'footer-form row', role: 'email-form'}) do |f|
          .small-12.columns
            = f.input :from, label: false, placeholder: 'Your Email'
          .small-12.columns
            = f.input :subject, label: false, placeholder: 'Subject'
          .small-12.columns
            = f.text_area :body, label: false, placeholder: 'Message'
          .small-12.columns
            = f.submit "Send"
