%div.header-container.text-center
  = image_tag(@image.get_url, class: "background-image")
  %h3.background-image-text
    "A mind that is stretched by new experiences can never return to its original dimensions"
  %div.row.home-header
    %div.large-3.columns.nav-section.site-title
      %h1.home-header-title= link_to "Dainjar.us"

    = render partial: "shared/search_form"

    %div.large-3.columns.nav-section.right
      %ul.inline-list
        %li.divider
        %li= link_to "Home", root_path
        %li.divider
        %li= link_to "Blog", blog_posts_path
        %li.divider
        %li= link_to "Download Resume", "#"
        %li.divider