%div.header-container.text-center
  = image_tag(@image.get_url, class: "background-image")
  %h3.background-image-text
    "A mind that is stretched by new experiences can never return to its original dimensions"
  %div.row.home-header
    %div.large-3.columns.nav-section.site-title
      %h1.home-header-title= link_to "Dainjar.us"

    %div.large-5.columns.nav-section.hide-for-small
      = render partial: "shared/search_form"

    %div.large-4.columns.nav-section.hide-for-small{style: "position:relative;"}
      %ul.inline-list{style: "position:absolute; right: 0;"}
        %li= link_to "Blog", blog_posts_path
        %li.divider{style: "width:10px"}
        %li= link_to "Resume", "https://www.dropbox.com/s/b1bascd9xuhpdw3/Dain%20Hall%20Resume_2013.11.pdf"
        %li.divider
  %div.large-4.columns.nav-section-small.show-for-small
    %ul.inline-list
      %li= link_to "Blog", blog_posts_path
      %li= link_to "Code Samples", "#"
      %li= link_to "Resume", "https://www.dropbox.com/s/b1bascd9xuhpdw3/Dain%20Hall%20Resume_2013.11.pdf"