%head
  %title Blogger
  %meta{ charset: "utf-8"}
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = javascript_include_tag "vendor/modernizr"
  = csrf_meta_tags

  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %meta{charset: "utf-8"}
%body
  - if request.path == root_path
    = render partial: "layouts/home_header"
  - else
    = render partial: "layouts/header"
  = yield
%footer
  = render partial: "layouts/footer"